<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>API documentation</title>
</head>
<body>
<p>
<dl>
  <% routes.forEach(function(route){ %>
  <dt><a href="<%= route.title %>"><%= route.title %></a></dt>
  <dd><a href="<%= route.url %>"><%= route.url %></a> <%= route.extra %></dd>
  <br/>
  <% }); %>
</dl>
</p>
</body>
</html>
